:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'outfit', sans-serif;
  background-color: var(--light-gray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.qr-card {
  background-color: var(--white);
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2);
  border-radius: 20px;
  width: 340px;
  padding: 15PX;
  margin: auto;
}

.qr-card__image {
  width: 100%;
  border-radius: 15px;
}

.qr-card-content-wrapper {
  padding: 0 10px 0;
}

.qr-card__heading {
  text-align: center;
  color: var(--dark-blue);
  padding-top: 15px;
  font-weight: 700;
  padding-bottom: 15px;
}

.qr-card__text {
  font-size: 15px;
  text-align: center;
  color: var(--grayish-blue);
  font-weight: 400;
  padding-bottom: 15px;
}

.attribution { 
  font-size: 15px;
  text-align: center; 
  margin-top: 15px;
}
.attribution a {
  color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 768px) {
  .qr-card__wrapper { 
    width: 98%;
  }

}
